# ==========================================
# BEG BRASIL - ENVIROMENT VARIABLES
# ==========================================

# --- API ---
PORT=8080
DB_URL=jdbc:postgresql://localhost:5432/begbrasil
DB_USER=postgres
DB_PASS=postgres

# Email Config (Mailtrap for local dev)
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=user
MAIL_PASS=pass

# --- WEB ---
PUBLIC_API_URL=http://localhost:8080/api/v1
